:root {
  --quizzer-font: 'Roboto Slab', serif;

  --primary: #0000A3;
  --secondary: #0067B3;
  --tertiary: #40B0DF;
  --quaternary: #FFD53D;
  --pentary: #48cb4e;

  --large-bt-width: 15vw;
  --large-bt-height: 15vh;

  --small-bt-w: 10vw;
  --small-bt-h: 15vh;
}

.App {
  text-align: center;
}

html, body {
  height: 100vh;
  background: var(--secondary);

  overflow: hidden;
}

* {
  transition: 0.4s;
}

button {
  cursor: pointer;
}

@keyframes slideFromTop {
  0% {top: -100vh;}
  /*25% {top: -75vh}*/
  /*50% {top: -50vh;}*/
  /*75% {top: -25vh}*/
  100% {top: 0;}
}

.route-switch {
  height: 10vh;
  width: 25vw;
  margin: 3vh auto 0;
  box-sizing: border-box;

  background: var(--pentary);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3vmax;
  font-family: var(--quizzer-font);
  font-size: 4vmax;

  border: 0;
}



