.results-background {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-image: linear-gradient(45deg, #fdd02f 10%, var(--quaternary) 100%);

    animation-name: slideFromTop;
    animation-duration: 0.8s;
}

.full {
    width: 100%;
    font-size: 2vw;
}

.results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

    margin: 4vh auto 0;
}
.results {
    font-size: 9vw;
    font-weight: 900;
    font-family: var(--quizzer-font);
    letter-spacing: 0.5vw;
}

.quiz {
    width: 90vw;
    height: 60%;

    margin: 0 auto;
    position: relative;
}
.internal,
.score,
.logo,
.check {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    height: 7.5vh;
    width: 15vmax;
    margin: 3vh;

    z-index: 1;
}

.logo-user {
    position: absolute;

    height: 7.5vh;
    width: 100vmax;
    margin: 3vh;

    z-index: 1;

    font-size: 2vw;
    letter-spacing: 0.05vw;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    color: var(--primary);
}

.score {
    background: var(--secondary);
    top: 2vh;
    right: 0;
    font-size: 3vmin;
    font-weight: 900;
    color: var(--quaternary);
    width: 20vmax;
    height: 10vh;
}
.logo {
    top: 1.25vh;
    left: 1.25vw;

    font-size: 3.5vw;
    letter-spacing: 0.05vw;
    font-weight: 900;
    font-family: 'Roboto Slab', serif;
    color: var(--primary);
}
.check {
    background: var(--pentary) url("../assets/next.png") no-repeat center/90%;
    bottom: 0;
    right: 0;

    width: 7.5vmax;

    box-sizing: border-box;
    border: 0;

    transition: 0.1s ease-out;
}

.question {
    margin: 2vh auto;
}
.question-card {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--quaternary);

    height: 55vh;
    padding: 8vh 3vw 1vh;

    color: #000000;
    font-size: 3.3vmax;
    font-weight: 900;

    box-sizing: border-box;

    position: relative;

    transition-delay: 0.55s;
}
.question-progress {
    height: 2vh;

    background: var(--pentary);
    transition: ease-in-out 1s;
}
.question-progress-background {
    background: indianred;
}
.choices {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1vmax;

    width: 100%;
}
.choice,
.A, .B, .C, .D{
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--pentary);

    height: 15vh;
    padding: 3vmin;

    color: black;
    font-size: 7vmin;
    font-weight: 600;

    box-sizing: border-box;
    border: 0;
}

.current {
    box-shadow: rgba(0, 0, 0, 0.4) 0 .2rem .4rem, rgba(0, 0, 0, 0.3) 0px .7rem 1.3rem -.3rem, rgba(0, 0, 0, 0.2) 0px -.3rem 0px inset;
}
.other {
    background: grey;
    opacity: 0.4;
}
.incorrect-choice {
    background: indianred;
}


.share:disabled {
    background: indianred;
    opacity: 0.4;
    pointer-events: none;
}

.report{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vmax;

    padding: 3vmax;
}

.report-buttons {
    width: 100%;
    justify-content: space-around;

    padding: 0 3vw;
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.report-bt {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25vw;
    height: 10vh;

    box-sizing: border-box;
    background: var(--pentary);

    font-family: var(--quizzer-font);
    font-size: 3vmax;
    font-weight: 900;
    border: none;
}

.bubble,
    .correct,
    .incorrect,
    .total {
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 12.5vmax;
        height: 12.5vmax;

        border-radius: 50%;

        text-align: center;
        font-size: 6vmax;
        font-family: var(--quizzer-font);
    }

    .correct {
        background: var(--pentary);
        border: #359539 solid 1.25vmax;
    }

    .incorrect {
        background: indianred;
        border: #974343 solid 1.25vmax;
    }

    .total {
        background: var(--secondary);
        border: #004d86 solid 1.25vmax;
    }

.bubble-label {
    width: fit-content;

    font-size: 2.5vw;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    font-family: var(--quizzer-font);
}

